<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{index :: header(~{::title})}">
    <title>Edit Settings</title>
    <!--<style>-->
    <!--button.btn.btn-collapse:before {-->
    <!--content: '-';-->
    <!--display: block;-->
    <!--width: 15px;-->
    <!--}-->
    <!--button.btn.btn-collapse.collapsed:before {-->
    <!--content: '+';-->
    <!--display: block;-->
    <!--width: 15px;-->
    <!--}-->
    <!--</style>-->
</head>
<body>
<nav th:insert="~{index :: navigation}"></nav>

<div class="container-fluid">

    <div th:if="${message}" th:class="|alert ${messageClass}|" th:text="${message}"></div>

    <form action="#" th:action="@{/settings/edit}" method="post" th:object="${settings}">

        <fieldset class="form-group col-sm border p-4">

            <div class="d-flex justify-content-between bg-light p-2">
                <h4>Settings</h4>
                <div class="btn-group" role="group">
                    <button type="submit" name="reset" class="btn btn-secondary">Reset</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

            <div th:if="${#fields.hasErrors('global')}">
                <div class="alert alert-danger" th:errors="*{global}"></div>
            </div>

            <fieldset class="form-group border p-3">
                <h5>General Settings</h5>
                <div class="row">
                    <div class="col-md-auto">
                        <label for="serialPort">Serial Port</label>
                        <input type="text" th:field="*{serialPort}" id="serialPort"
                               aria-describedby="serialPortHelp"
                               placeholder="Enter Serial Port in unix format like /dev/ttyUSB0"
                               class="form-control form-control-sm" th:errorclass="is-invalid">
                        <small id="serialPortHelp" class="form-text text-muted">Serial port connected to Xbee device (in
                            unix format /dev/ttyUSB0,
                            ..).
                        </small>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('serialPort')}"
                             th:errors="*{serialPort}"></div>
                    </div>
                    <div class="col-sm-auto">
                        <label for="baudRate">BaudRate</label>
                        <input type="number" th:field="*{baudRate}" id="baudRate"
                               class="form-control form-control-sm" th:errorclass="is-invalid"
                               aria-describedby="baudRateHelp"
                               placeholder="Enter serial port baud rate">
                        <small id="baudRateHelp" class="form-text text-muted">Serial port baud rate.</small>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('baudRate')}"
                             th:errors="*{baudRate}"></div>
                    </div>
                    <div class="col-sm-auto">
                        <label for="receiveTimeout">Receive Timeout</label>
                        <input type="number" th:field="*{receiveTimeout}"
                               id="receiveTimeout" aria-describedby="receiveTimeoutHelp"
                               class="form-control form-control-sm" th:errorclass="is-invalid"
                               placeholder="Receive Timeout in ms">
                        <small id="receiveTimeoutHelp" class="form-text text-muted">Serial port receive timeout.</small>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('receiveTimeout')}"
                             th:errors="*{receiveTimeout}"></div>
                    </div>
                    <input type="hidden" th:field="*{idCnt}">
                </div>
            </fieldset>

            <fieldset id="nodes-fieldset" class="form-group border p-3">
                <div class="d-flex justify-content-between bg-light p-2">
                    <h5>Nodes settings</h5>
                    <button class="btn btn-collapse" type="button" data-toggle="collapse"
                            data-target="fieldset#nodes-fieldset div.collapse" aria-controls="div.collapse"
                            aria-expanded="false">+
                    </button>
                    <button class="btn btn-dark btn-sm" type="submit" name="addNode" value="addNode">Add Node</button>
                </div>
                <th:block th:each="node, nIter: *{nodes}">
                    <fieldset
                            th:class="|form-group border p-1 ${#fields.hasErrors('*{nodes[__${nIter.index}__]*}') ? 'border-danger' : ''}|">

                        <div class="d-flex justify-content-between bg-light p-2">
                            <h6>Node [[${node.name}]]</h6>
                            <button class="btn btn-collapse" type="button" data-toggle="collapse"
                                    th:attr="data-target='div#node-content' + ${node.id} + ', div#node-content' + ${node.id} + ' div.collapse', aria-controls='node-content' + ${node.id}"
                                    aria-expanded="false">+
                            </button>
                            <button class="btn btn-dark btn-sm" type="submit" name="removeNode"
                                    th:value="${nIter.index}">Remove
                            </button>
                        </div>

                        <div class="collapse" th:id="|node-content${node.id}|">
                            <div th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__]}')}">
                                <div class="alert alert-danger" th:errors="*{nodes[__${nIter.index}__]}"></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-auto">
                                    <label th:for="|nodeId${node.id}|">Node Id</label>
                                    <input type="number" th:field="*{nodes[__${nIter.index}__].id}"
                                           th:id="|nodeId${node.id}|" placeholder="Node id"
                                           class="form-control form-control-sm" th:errorclass="is-invalid"
                                           readonly>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].id}')}"
                                         th:errors="*{nodes[__${nIter.index}__].id}"></div>
                                </div>
                                <div class="col-md-auto">
                                    <label th:for="|nodeName${node.id}|">Name</label>
                                    <input type="text" th:field="*{nodes[__${nIter.index}__].name}"
                                           th:id="|nodeName${node.id}|"
                                           th:attr="aria-describedby='nodeNameHelp'+${node.id}"
                                           class="form-control form-control-sm" th:errorclass="is-invalid"
                                           placeholder="Node name, must be unique">
                                    <small th:id="|nodeNameHelp${node.id}|" class="form-text text-muted">Node name must
                                        be unique between
                                        all
                                        defined nodes.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].name}')}"
                                         th:errors="*{nodes[__${nIter.index}__].name}"></div>
                                </div>
                                <div class="col-sm-auto">
                                    <label th:for="|nodeAddress${node.id}|">Address</label>
                                    <input type="text" th:field="*{nodes[__${nIter.index}__].address}"
                                           th:id="|nodeAddress${node.id}|"
                                           th:attr="aria-describedby='nodeAddressHelp'+${node.id}"
                                           class="form-control form-control-sm" th:errorclass="is-invalid"
                                           placeholder="ZigBee device address">
                                    <small th:id="|nodeAddresseHelp${node.id}|" class="form-text text-muted">ZigBee
                                        device address.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].address}')}"
                                         th:errors="*{nodes[__${nIter.index}__].address}"></div>
                                </div>
                                <div class="col-sm-auto">
                                    <label th:for="|nodeMode${node.id}|">Mode</label>
                                    <select th:field="*{nodes[__${nIter.index}__].mode}"
                                            th:id="|nodeMode${node.id}|"
                                            class="form-control form-control-sm" th:errorclass="is-invalid"
                                            th:attr="aria-describedby='nodeModeHelp'+${node.id}|"
                                            placeholder="Xbee Device working mode">
                                        <option th:value="${null}"> --</option>
                                        <option th:each="opt : ${opModes}" th:value="${opt}"
                                                th:text="${opt}"></option>
                                    </select>
                                    <small th:id="|nodeModeHelp${node.id}|" class="form-text text-muted">Xbee device
                                        working mode.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].mode}')}"
                                         th:errors="*{nodes[__${nIter.index}__].mode}"></div>
                                </div>
                                <div class="col-sm-auto">
                                    <label th:for="|nodeSampleTime${node.id}|">Sampling Time</label>
                                    <input type="number" th:field="*{nodes[__${nIter.index}__].sampleTime}"
                                           th:id="|nodeSampleTime${node.id}|"
                                           class="form-control form-control-sm" th:errorclass="is-invalid"
                                           th:attr="aria-describedby='nodeSampleTimeHelp'+${nodeId}"
                                           placeholder="Node sampling time">
                                    <small th:id="|nodeSampleTimeHelp${nodeId}|" class="form-text text-muted">Node
                                        sampling time.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].sampleTime}')}"
                                         th:errors="*{nodes[__${nIter.index}__].sampleTime}"></div>
                                </div>
                                <div class="col-md-auto">
                                    <div class="form-check">
                                        <input type="radio" th:field="*{nodes[__${nIter.index}__].vccFromADC}"
                                               th:id="|nodeVccFromADC1${node.id}|" th:value="true"
                                               class="form-check-input form-control-sm" th:errorclass="is-invalid"
                                               th:attr="aria-describedby='nodeVccFromADCHelp1'+${node.id}"
                                               placeholder="Vcc sampling of ADC output">
                                        <label class="form-check-label" th:for="|nodeVccFromADC1${node.id}|">ADC
                                            sampling</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" th:field="*{nodes[__${nIter.index}__].vccFromADC}"
                                               th:id="|nodeVccFromADC2${node.id}|" th:value="false"
                                               class="form-check-input form-control-sm" th:errorclass="is-invalid"
                                               th:attr="aria-describedby='nodeVccFromADCHelp1'+${node.id}"
                                               placeholder="Vcc sampling of Xbee's Vcc">
                                        <label class="form-check-label" th:for="|nodeVccFromADC2${node.id}|">Vcc
                                            sampling</label>
                                    </div>
                                    <small th:id="|nodeVccFromADCHelp1${node.id}|" class="form-text text-muted">Vcc
                                        sampling of ADC output
                                        or Xbee power line.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].vccFromADC}')}"
                                         th:errors="*{nodes[__${nIter.index}__].vccFromADC}"></div>
                                </div>
                                <div class="col-sm-auto">
                                    <label th:for="|nodeVccThreshold${node.id}|">Vcc Threshold</label>
                                    <input type="number" step="any" th:field="*{nodes[__${nIter.index}__].vccThreshold}"
                                           th:id="|nodeVccThreshold${node.id}|"
                                           class="form-control form-control-sm" th:errorclass="is-invalid"
                                           th:attr="aria-describedby='nodeVccThresholdHelp'+${node.id}"
                                           placeholder="Vcc Threshold">
                                    <small th:id="|nodeVccThresholdHelp${node.id}|" class="form-text text-muted">Vcc
                                        Threshold.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].vccThreshold}')}"
                                         th:errors="*{nodes[__${nIter.index}__].vccThreshold}"></div>
                                </div>
                                <div class="col-sm-auto">
                                    <label th:for="|nodeAdcRange${node.id}|">ADC Range</label>
                                    <input type="number" th:field="*{nodes[__${nIter.index}__].adcRange}"
                                           th:id="|nodeAdcRange${node.id}|"
                                           class="form-control form-control-sm" th:errorclass="is-invalid"
                                           th:attr="aria-describedby='nodeAdcRangeHelp'+${node.id}"
                                           placeholder="ADC Range">
                                    <small th:id="|nodeAdcRangeHelp${node.id}|" class="form-text text-muted">ADC
                                        Range.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].adcRange}')}"
                                         th:errors="*{nodes[__${nIter.index}__].adcRange}"></div>
                                </div>
                                <div class="col-sm-auto">
                                    <label th:for="|nodeAdcVRef${node.id}|">ADC Voltage reference</label>
                                    <input type="number" step="any" th:field="*{nodes[__${nIter.index}__].adcVRef}"
                                           th:id="|nodeAdcVRef${node.id}|"
                                           class="form-control form-control-sm" th:errorclass="is-invalid"
                                           th:attr="aria-describedby='nodeAdcVRefHelp'+${node.id}"
                                           placeholder="ADC Voltage reference">
                                    <small th:id="|nodeAdcVRefHelp${node.id}|" class="form-text text-muted">ADC Voltage
                                        reference.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].adcVRef}')}"
                                         th:errors="*{nodes[__${nIter.index}__].adcVRef}"></div>
                                </div>
                            </div>
                            <!--<fieldset class="form-group border p-2">-->
                            <div class="d-flex justify-content-between bg-light p-2">
                                <h6>Probes for node [[${node.name}]]</h6>
                                <button class="btn btn-collapse" type="button" data-toggle="collapse"
                                        th:attr="data-target='#probe-list' + ${node.id}, aria-controls='probe-list' + ${node.id}"
                                        aria-expanded="false">+
                                </button>
                                <button class="btn btn-secondary btn-sm" type="submit" name="addProbe"
                                        th:value="${nIter.index}">Add Probe
                                </button>
                            </div>
                            <div class="collapse" th:id="|probe-list${node.id}|">
                                <th:block th:each="probe, pIter: ${node.probes}">
                                    <fieldset
                                            th:class="|form-group border p-1 ${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__]*}') ? 'border-danger' : ''}|">
                                        <div class="d-flex justify-content-between bg-light p-2">
                                            <h6>Probe [[${probe.name}]]</h6>
                                            <button class="btn btn-secondary btn-sm" type="submit" name="removeProbe"
                                                    th:value="|${nIter.index},${pIter.index}|">Remove
                                            </button>
                                        </div>
                                        <div th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__]}')}">
                                            <div class="alert alert-danger"
                                                 th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__]}"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-auto">
                                                <label th:for="|probeId${probe.id}|">Probe Id</label>
                                                <input type="number"
                                                       th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].id}"
                                                       class="form-control form-control-sm"
                                                       th:id="|probeId${probe.id}|"
                                                       placeholder="Probe id"
                                                       readonly>
                                            </div>
                                            <div class="col-md-auto">
                                                <label th:for="|probeName${probe.id}|">Name</label>
                                                <input type="text"
                                                       th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].name}"
                                                       th:id="|probeName${probe.id}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='probeNameHelp'+${probe.id}"
                                                       placeholder="Probe name">
                                                <small th:id="|probeNameHelp${probe.id}|" class="form-text text-muted">
                                                    Probe name must be unique
                                                    inside
                                                    node.
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__].name}')}"
                                                     th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].name}"></div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <label th:for="probeType">Type</label>
                                                <select th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].type}"
                                                        th:id="|probeType${probe.id}|"
                                                        class="form-control form-control-sm" th:errorclass="is-invalid"
                                                        th:attr="aria-describedby='probeTypeHelp'+${probe.id}|"
                                                        placeholder="Probe Type">
                                                    <option th:value="${null}"> --</option>
                                                    <option th:each="opt : ${probeTypes}"
                                                            th:value="${opt}" th:text="${opt}"></option>
                                                </select>
                                                <small th:id="|probeTypeHelp${probe.id}|" class="form-text text-muted">
                                                    Probe type.
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__].type}')}"
                                                     th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].type}"></div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <label th:for="|probePort${probe.id}|">Xbee Port</label>
                                                <input type="number"
                                                       th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].port}"
                                                       th:id="|probePort${probe.id}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='probePortHelp'+${probe.id}"
                                                       placeholder="Xbee port">
                                                <small th:id="|probePortHelp${probe.id}|" class="form-text text-muted">
                                                    Probe port.
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__].port}')}"
                                                     th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].port}"></div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <label th:for="|probeSampleTime${node.id}|">Sampling Time</label>
                                                <input type="number"
                                                       th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].sampleTime}"
                                                       th:id="|probeSampleTime${probe.id}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='probeSampleTimeHelp'+${probe.id}|"
                                                       placeholder="Sampling time">
                                                <small th:id="|probeSampleTimeHelp${probe.id}|"
                                                       class="form-text text-muted">Sampling time.
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__].sampleTime}')}"
                                                     th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].sampleTime}"></div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <label th:for="|probeAdcMult${probe.id}|">ADC Multiplier</label>
                                                <input type="number" step="any"
                                                       th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].adcMult}"
                                                       th:id="|probeAdcMult${probe.id}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='probeAdcMultHelp'+${probe.id}"
                                                       placeholder="ADC Multiplier">
                                                <small th:id="|probeAdcMultHelp${probe.id}|"
                                                       class="form-text text-muted">ADC multiplier.
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__].adcMult}')}"
                                                     th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].adcMult}"></div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <label th:for="|probePulsesPerKilowattHour${probe.id}|">Pulses per
                                                    KWh</label>
                                                <input type="number"
                                                       th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].pulsesPerKilowattHour}"
                                                       th:id="|probePulsesPerKilowattHour${probe.id}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='probePulsesPerKilowattHourHelp'+${probe.id}|"
                                                       placeholder="Pulses per Kilowatt/hour">
                                                <small th:id="|probePulsesPerKilowattHourHelp${probe.id}|"
                                                       class="form-text text-muted">Pulses per
                                                    Kilowatt/hour
                                                    .
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__].pulsesPerKilowattHour}')}"
                                                     th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].pulsesPerKilowattHour}"></div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <label th:for="|probeSoftThreshold${probe.id}|">Soft Threshold</label>
                                                <input type="number" step="any"
                                                       th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].softThreshold}"
                                                       th:id="|probeSoftThreshold${probe.id}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='probeSoftThresholdHelp'+${probe.id}"
                                                       placeholder="Soft Threshold">
                                                <small th:id="|probeSoftThresholdHelp${probe.id}|"
                                                       class="form-text text-muted">Soft Threshold.
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__].softThreshold}')}"
                                                     th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].softThreshold}"></div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <label th:for="|probeSoftThresholdTimeSec${probe.id}|">Soft Threshold
                                                    Time (sec)</label>
                                                <input type="number"
                                                       th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].softThresholdTimeSec}"
                                                       th:id="|probeSoftThresholdTimeSec${probe.id}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='probeSoftThresholdTimeSecHelp'+${probe.id}"
                                                       placeholder="Soft Threshold Time in seconds">
                                                <small th:id="|probeSoftThresholdTimeSecHelp${probe.id}|"
                                                       class="form-text text-muted">Soft Threshold
                                                    Time in seconds
                                                    .
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__].softThresholdTimeSec}')}"
                                                     th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].softThresholdTimeSec}"></div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <label th:for="|probeHardThreshold${probe.id}|">Hard Threshold</label>
                                                <input type="number" step="any"
                                                       th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].hardThreshold}"
                                                       th:id="|probeHardThreshold${probe.id}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='probeHardThresholdHelp'+${probe.id}"
                                                       placeholder="Hard Threshold">
                                                <small th:id="|probeHardThresholdHelp${probe.id}|"
                                                       class="form-text text-muted">Hard Threshold.
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__].hardThreshold}')}"
                                                     th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].hardThreshold}"></div>
                                            </div>
                                            <div class="col-sm-auto">
                                                <label th:for="|probeHardThresholdTimeSec${probe.id}|">Hard Threshold
                                                    Time (sec)</label>
                                                <input type="number"
                                                       th:field="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].hardThresholdTimeSec}"
                                                       th:id="|probeHardThresholdTimeSec${probe.id}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='probeHardThresholdTimeSecHelp'+${probe.id}"
                                                       placeholder="Hard Threshold Time in seconds">
                                                <small th:id="|probeHardThresholdTimeSecHelp${probe.id}|"
                                                       class="form-text text-muted">Hard Threshold
                                                    Time in seconds
                                                    .
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{nodes[__${nIter.index}__].probes[__${pIter.index}__].hardThresholdTimeSec}')}"
                                                     th:errors="*{nodes[__${nIter.index}__].probes[__${pIter.index}__].hardThresholdTimeSec}"></div>
                                            </div>

                                        </div>
                                    </fieldset>
                                </th:block>
                            </div>
                            <!--</fieldset>-->
                        </div>
                    </fieldset>
                </th:block>
            </fieldset>

            <fieldset id="servers-fieldset" class="form-group border p-3">
                <div class="d-flex justify-content-between bg-light p-2">
                    <h5>REST endpoints</h5>
                    <button class="btn btn-collapse" type="button" data-toggle="collapse"
                            data-target="fieldset#servers-fieldset div.collapse" aria-controls="div.collapse"
                            aria-expanded="false">+
                    </button>
                    <button class="btn btn-dark btn-sm" type="submit" name="addServer" value="addServer">Add Server
                    </button>
                </div>
                <th:block th:each="server, sIter: *{servers}">
                    <fieldset
                            th:class="|form-group border p-1 ${#fields.hasErrors('*{servers[__${sIter.index}__]*}') ? 'border-danger' : ''}|">

                        <div class="d-flex justify-content-between bg-light p-2">
                            <h6>REST endpoint [[${server.name}]]</h6>
                            <button class="btn btn-collapse" type="button" data-toggle="collapse"
                                    th:attr="data-target='#server-content' + ${sIter.index}, aria-controls='server-content' + ${sIter.index}"
                                    aria-expanded="false">+
                            </button>
                            <button class="btn btn-dark btn-sm" type="submit" name="removeServer"
                                    th:value="${sIter.index}">Remove
                            </button>
                        </div>

                        <div class="collapse" th:id="|server-content${sIter.index}|">
                            <div th:if="${#fields.hasErrors('*{servers[__${sIter.index}__]}')}">
                                <div class="alert alert-danger" th:errors="*{servers[__${sIter.index}__]}"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-auto">
                                    <label th:for="|serverName${sIter.index}|">Name</label>
                                    <input type="text" th:field="*{servers[__${sIter.index}__].name}"
                                           th:id="|serverName${sIter.index}|"
                                           th:attr="aria-describedby='serverNameHelp'+${sIter.index}"
                                           class="form-control form-control-sm" th:errorclass="is-invalid"
                                           placeholder="Server name, must be unique">
                                    <small th:id="|serverNameHelp${sIter.index}|" class="form-text text-muted">Server
                                        name, must be unique.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{servers[__${sIter.index}__].name}')}"
                                         th:errors="*{servers[__${sIter.index}__].name}"></div>
                                </div>
                                <div class="col-md-auto">
                                    <label th:for="|serverUrl${sIter.index}|">Url</label>
                                    <input type="url" th:field="*{servers[__${sIter.index}__].url}"
                                           th:id="|serverUrl${sIter.index}|"
                                           th:attr="aria-describedby='serverUrlHelp'+${sIter.index}"
                                           class="form-control form-control-sm" th:errorclass="is-invalid"
                                           placeholder="Endpoint's Url">
                                    <small th:id="|serverUrlHelp${sIter.index}|" class="form-text text-muted">Endpoint's
                                        Url.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{servers[__${sIter.index}__].url}')}"
                                         th:errors="*{servers[__${sIter.index}__].url}"></div>
                                </div>
                                <div class="col-sm-auto">
                                    <label th:for="|serverSendRate${sIter.index}|">Send Rate</label>
                                    <input type="number" th:field="*{servers[__${sIter.index}__].sendRate}"
                                           th:id="|serverSendRate${sIter.index}|"
                                           th:attr="aria-describedby='serverSendRateHelp'+${sIter.index}"
                                           class="form-control form-control-sm" th:errorclass="is-invalid"
                                           placeholder="Send Rate in milliseconds">
                                    <small th:id="|serverSendRateHelp${sIter.index}|" class="form-text text-muted">Send
                                        Rate in milliseconds.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{servers[__${sIter.index}__].sendRate}')}"
                                         th:errors="*{servers[__${sIter.index}__].sendRate}"></div>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="form-check">
                                        <input type="checkbox" th:field="*{servers[__${sIter.index}__].realTime}"
                                               th:id="|serverRealTime${sIter.index}|"
                                               th:attr="aria-describedby='serverRealTimeHelp'+${sIter.index}"
                                               class="form-check-input form-control-sm" th:errorclass="is-invalid"
                                               placeholder="Real time response">
                                        <label th:for="|serverRealTime${sIter.index}|">Real Time</label>
                                    </div>
                                    <small th:id="|serverRealTimeHelp${sIter.index}|" class="form-text text-muted">Real
                                        time response.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{servers[__${sIter.index}__].realTime}')}"
                                         th:errors="*{servers[__${sIter.index}__].realTime}"></div>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="form-check">
                                        <input type="checkbox" th:field="*{servers[__${sIter.index}__].active}"
                                               th:id="|serverActive${sIter.index}|"
                                               th:attr="aria-describedby='serverActiveHelp'+${sIter.index}"
                                               class="form-check-input form-control-sm" th:errorclass="is-invalid"
                                               placeholder="Active or paused">
                                        <label th:for="|serverActive${sIter.index}|">Active</label>
                                    </div>
                                    <small th:id="|serverActiveHelp${sIter.index}|" class="form-text text-muted">Active
                                        or paused.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{servers[__${sIter.index}__].active}')}"
                                         th:errors="*{servers[__${sIter.index}__].active}"></div>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="form-check">
                                        <input type="checkbox" th:field="*{servers[__${sIter.index}__].ignoreErrors}"
                                               th:id="|serverIgnoreErrors${sIter.index}|"
                                               th:attr="aria-describedby='serverIgnoreErrorsHelp'+${sIter.index}"
                                               class="form-check-input form-control-sm" th:errorclass="is-invalid"
                                               placeholder="Ignore all errors">
                                        <label th:for="|serverIgnoreErrors${sIter.index}|">Ignore Errors</label>
                                    </div>
                                    <small th:id="|serverIgnoreErrorsHelp${sIter.index}|" class="form-text text-muted">
                                        Ignore all errors.
                                    </small>
                                    <div class="alert alert-danger" role="alert"
                                         th:if="${#fields.hasErrors('*{servers[__${sIter.index}__].ignoreErrors}')}"
                                         th:errors="*{servers[__${sIter.index}__].ignoreErrors}"></div>
                                </div>

                            </div>
                            <!-- server map -->
                            <div class="d-flex justify-content-between bg-light p-2">
                                <h6>Mappings for server [[${server.name}]]</h6>
                                <button class="btn btn-collapse" type="button" data-toggle="collapse"
                                        th:attr="data-target='#serverMap' + ${sIter.index}, aria-controls='serverMap' + ${sIter.index}"
                                        aria-expanded="false">+
                                </button>
                                <button class="btn btn-secondary btn-sm" type="submit" name="addServerMap"
                                        th:value="${sIter.index}">Add Mapping
                                </button>
                            </div>
                            <div class="collapse" th:id="|serverMap${sIter.index}|">
                                <th:block th:each="map, mIter: ${server.maps}">
                                    <fieldset
                                            th:class="|form-group border p-1 ${#fields.hasErrors('*{servers[__${sIter.index}__].maps[__${mIter.index}__]*}') ? 'border-danger' : ''}|">
                                        <div class="d-flex justify-content-between bg-light p-2">
                                            <h6>Mapping [[${mIter.index}]]</h6>
                                            <button class="btn btn-secondary btn-sm" type="submit"
                                                    name="removeServerMap"
                                                    th:value="|${sIter.index},${mIter.index}|">Remove
                                            </button>
                                        </div>
                                        <div th:if="${#fields.hasErrors('*{servers[__${sIter.index}__].maps[__${mIter.index}__]}')}">
                                            <div class="alert alert-danger"
                                                 th:errors="*{servers[__${sIter.index}__].maps[__${mIter.index}__]}"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-auto">
                                                <label th:for="mapProbe">Probe</label>
                                                <select th:field="*{servers[__${sIter.index}__].maps[__${mIter.index}__].probe}"
                                                        th:id="|mapProbe${mIter.index}|"
                                                        class="form-control form-control-sm" th:errorclass="is-invalid"
                                                        th:attr="aria-describedby='mapProbeHelp'+${mIter.index}|"
                                                        placeholder="Probe">
                                                    <option th:value="${null}"> --</option>
                                                    <option th:each="opt : ${probeList}"
                                                            th:value="${opt.id}" th:text="|${opt.node.name} - ${opt.name}|"></option>
                                                </select>
                                                <small th:id="|mapProbeHelp${mIter.index}|"
                                                       class="form-text text-muted">Probe source to publish.
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{servers[__${sIter.index}__].maps[__${mIter.index}__].probe}')}"
                                                     th:errors="*{servers[__${sIter.index}__].maps[__${mIter.index}__].probe}"></div>
                                            </div>
                                            <div class="col-md-auto">
                                                <label th:for="|mapNodeId${mIter.index}|">Destination's Node Id</label>
                                                <input type="number"
                                                       th:field="*{servers[__${sIter.index}__].maps[__${mIter.index}__].nodeId}"
                                                       th:id="|mapNodeId${mIter.index}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='mapNodeIdHelp'+${mIter.index}"
                                                       placeholder="Destination's Node Id">
                                                <small th:id="|mapNodeIdHelp${mIter.index}|"
                                                       class="form-text text-muted">Destination's Node Id
                                                    to use.
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{servers[__${sIter.index}__].maps[__${mIter.index}__].nodeId}')}"
                                                     th:errors="*{servers[__${sIter.index}__].maps[__${mIter.index}__].nodeId}"></div>
                                            </div>
                                            <div class="col-md-auto">
                                                <label th:for="|mapApiKey${mIter.index}|">API Key</label>
                                                <input type="text"
                                                       th:field="*{servers[__${sIter.index}__].maps[__${mIter.index}__].apiKey}"
                                                       th:id="|mapApiKey${mIter.index}|"
                                                       class="form-control form-control-sm" th:errorclass="is-invalid"
                                                       th:attr="aria-describedby='mapApiKeyHelp'+${mIter.index}"
                                                       placeholder="Destination's API Key">
                                                <small th:id="|mapApiKeyHelp${mIter.index}|"
                                                       class="form-text text-muted">Destination's API Key.
                                                </small>
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('*{servers[__${sIter.index}__].maps[__${mIter.index}__].apiKey}')}"
                                                     th:errors="*{servers[__${sIter.index}__].maps[__${mIter.index}__].apiKey}"></div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </th:block>
                            </div>
                        </div>
                    </fieldset>
                </th:block>
            </fieldset>

            <fieldset class="form-group col-sm border p-3">
                <div class="row">
                    <div class="col-lg">
                        <label for="commitMessage">Change Note</label>
                        <textarea name="commitMessage" th:text="${commitMessage}" class="form-control" id="commitMessage" rows="1"></textarea>
                    </div>
                </div>
            </fieldset>

            <div class="d-flex justify-content-end bg-light p-2">
                <div class="btn-group" role="group">
                    <button type="submit" name="reset" class="btn btn-secondary">Reset</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </fieldset>
    </form>

</div>

<th:block th:insert="~{index :: bootstrapjs}"></th:block>

</body>
</html>