[Unit]
Description=Emonlight Xbee Gateway
After=influxd.service
Requires=influxd.service

[Service]
User=emonlight-xbee-gw
Environment=JAVA_OPTS=-Djava.library.path=/usr/lib/jni
ExecStart=/var/lib/emonlight-xbee-gw/emonlight-xbee-gw.jar --spring.config.location=/etc/emonlight-xbee-gw.yml
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
