<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="header(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}"/>

    <title th:replace="${title} ?: _">Home</title>
</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Emonlight <i class="material-icons">face</i> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/list}">List</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:href="@{/list}" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nodes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <th:block th:each="node, nIter : ${settings.nodes}">
                        <a class="dropdown-item" th:href="@{/node(id=${node.id})}">
                            <b><span th:text="${node.name}">Node 1</span></b>
                        </a>
                        <a class="dropdown-item" th:each="probe: ${node.probes}" th:href="@{/probe(id=${probe.id})}"
                           th:text="${probe.name}">Probe 1</a>
                        <div class="dropdown-divider" th:if="${not nIter.last}"></div>
                    </th:block>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" th:href="@{/settings/edit}" id="navbarSettingsDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarSettingsDropdown">
                    <a class="nav-link" th:href="@{/settings/edit}">Settings</a>
                    <a class="nav-link" th:href="@{/settings/history/1}">History</a>
                    <a class="nav-link" th:href="@{/settings/status}">Status</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<th:block th:fragment="bootstrapjs">
    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/webjars/momentjs/moment.js}"></script>
</th:block>
</body>
</html>