<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link href="../static/css/dc.css" th:href="@{css/dc.css}"-->
    <!--rel="stylesheet" media="screen"/>-->
    <script th:src="@{/webjars/jquery/jquery.js}"></script>
    <script th:src="@{/webjars/highcharts/highstock.js}"></script>
    <!--<script src="../static/js/themes/gray.js" th:src="@{js/themes/gray.js}"></script>-->
</head>
<body>
<p th:inline="text"> Parameters: [[${#numbers.listFormatInteger(ids, 0)}]] </p>

<div id="container" style="width:100%; height:400px;"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var param_id = /*[[${ids}]]*/ [0];
    var now = new Date();
    var timeMax = now.getTime() - 6 * 3600000;
    var timezoneOffset = now.getTimezoneOffset();

    /**
     * Request data from the server, add it to the graph and set a timeout
     * to request again
     */
    function requestData() {
        $.ajax({
            url: '/data?id[]=' + param_id + '&tstart=' + timeMax + '&tend=' + new Date().getTime() + '&tzone=' + timezoneOffset,
            success: function (data) {

                for (var s = 0; s < chart.series.length; s += 1) {
                    var series = chart.series[s],
                        shift = series.data.length > 200; // shift if the series is longer than 20
                    var points = data[series.options.key];
                    if (points) {
                        // add the points
                        var i = 0;
                        for (i; i < points.length; i += 1) {
                            timeMax = timeMax > points[i][0] ? timeMax : points[i][0];
                            series.addPoint(points[i], false, shift);
                        }
                    }
                }
                chart.redraw();
                // call it again after one second
                setTimeout(requestData, 5000);
            },
            cache: false
        });
    }

    $(document).ready(function () {
        Highcharts.setOptions({
            time: {
                timezoneOffset: timezoneOffset
            }
        });
        chart = new Highcharts.StockChart({
            chart: {
                renderTo: 'container',
                defaultSeriesType: 'spline',
                events: {
                    load: requestData
                }
            },
            title: {
                text: 'Live random data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                maxZoom: 20 * 1000
            },
            yAxis: {
                minPadding: 0.2,
                maxPadding: 0.2,
                title: {
                    text: 'Value',
                    margin: 80
                }
            },
            series: [{
                name: 'Random data',
                data: [],
                key: '6'
            }, {
                name: 'Random data',
                data: [],
                key: '9'
            }]
        });
    });
    /*]]>*/
</script>
</body>
</html>
